.products {
    padding: 85px 153px 0 153px;

    &_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;

        &__title {
            font-size: 35px;
            font-weight: 600;
        }

        &__link {
            a {
                font-size: 18px;
                font-weight: 400;
                text-decoration: underline;
                color: #49c3f2;

                transition: .3s all;
                
                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}

.swiper {
    display: grid;
    margin-bottom: 30px;
    
    &_card {
        border: 1px solid rgba(175, 175, 175, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        border-radius: 18px;
        gap: 13px;
        height: 100%;
        color: #000;

        &__top {
            flex-grow: 1;
            display: flex;
            align-items: center;
            border-radius: 13px;
            position: relative;
            padding: 16px;
            border: 1px solid rgba(175, 175, 175, 0.3);
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
        }

        &__image {
            width: 100%;
            height: 180px;
            object-fit: contain;
        }

        svg {
            width: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            
            path {
                transition: .15s all;
                fill: #49c3f2;
            }

            &:hover {
                path {
                    opacity: .5;
                }
            }
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
        }

        &__text {
            font-size: 14px;
            font-weight: 600;
            opacity: .6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button {
            font-size: 18px;
            font-weight: 600;
            background: #ededed;

            height: 38px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            transition: .15s all;

            &:hover {
                background: #49c3f2;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1368px) {
    .products {
        padding: 75px 53px 0 53px;

        &_nav {
            margin-bottom: 30px;

            &__title {
                font-size: 35px;
            }

            &__link {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .products {
        padding: 70px 33px 0 33px;

        &_nav {
            margin-bottom: 25px;

            &__title {
                font-size: 30px;
            }

            &__link {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .swiper {
        &_card {
            padding: 7px;
            border-radius: 16px;
            gap: 11px;
    
            &__top {
                border-radius: 11px;
                padding: 14px;
            }
    
            &__bottom {
                gap: 14px;
            }
    
            &__image {
                height: 160px;
            }

            svg {
                width: 18px;
                top: 9px;
                right: 9px;
            }
    
            &__title {
                font-size: 16px;
            }
            
            &__text {
                font-size: 12px;
            }
    
            button {
                font-size: 16px;
                height: 35px;
                border-radius: 9px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .products {
        padding: 65px 13px 0 13px;

        &_nav {
            margin-bottom: 20px;

            &__title {
                font-size: 27px;
            }

            &__link {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .swiper {
        &_card {
            padding: 6px;
            border-radius: 15px;
            gap: 10px;
    
            &__top {
                border-radius: 10px;
                padding: 13px;
            }
    
            &__bottom {
                gap: 13px;
            }
    
            &__image {
            }

            svg {
                width: 16px;
                top: 8px;
                right: 8px;
            }
    
            &__title {
                font-size: 15px;
            }
            
            &__text {
                font-size: 11px;
            }
    
            button {
                font-size: 15px;
                height: 33px;
                border-radius: 8px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .products {
        padding: 60px 10px 0 10px;

        &_nav {
            margin-bottom: 15px;

            &__title {
                font-size: 23px;
            }

            &__link {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    .swiper {
        &_card {
            padding: 5px;
            border-radius: 14px;
            gap: 9px;
    
            &__top {
                border-radius: 9px;
                padding: 12px;
            }
    
            &__bottom {
                gap: 12px;
            }
    
            &__image {
            }

            svg {
                width: 15px;
                top: 7px;
                right: 7px;
            }
    
            &__title {
                font-size: 14px;
            }
            
            &__text {
                font-size: 10px;
            }
    
            button {
                font-size: 14px;
                height: 30px;
                border-radius: 7px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .products {
        padding: 55px 10px 0 10px;

        &_nav {
            margin-bottom: 13px;

            &__title {
                font-size: 20px;
            }

            &__link {
                a {
                    font-size: 10px;
                }
            }
        }
    }

    .swiper {
        &_card {
            &__image {
                height: 220px;
            }
        }
    }
}