.products {
    padding: 85px 153px 0 153px;

    &_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;

        &__title {
            font-size: 35px;
            font-weight: 600;
        }

        &__link {
            a {
                font-size: 18px;
                font-weight: 400;
                text-decoration: underline;
                color: #49c3f2;
            }
        }
    }
}

.swiper {
    margin-bottom: 30px;
    
    &_card {
        border: 1px solid rgba(175, 175, 175, 0.3);
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        border-radius: 18px;
        gap: 14px;

        &__top {
            height: 260px;
            display: flex;
            align-items: center;
            border-radius: 14px;
            position: relative;
            padding: 16px;
            border: 1px solid rgba(175, 175, 175, 0.3)
        }

        &__bottom {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
        }

        &__image {
            width: 100%;
        }

        &__icon {
            width: 19px;
            position: absolute;
            top: 16px;
            right: 16px;
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
        }

        &__text {
            font-size: 14px;
            font-weight: 600;
            opacity: .6;
        }

        button {
            font-size: 18px;
            font-weight: 600;
            background: #ededed;

            height: 38px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            transition: .15s all;

            &:hover {
                background: #49c3f2;
                color: #fff;
            }
        }
    }
}