@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
    border: solid 1px #9D9D9D !important;
    background: #fff !important;

    &::after {
      font-size: 18px !important;
      color: #9D9D9D !important;
    }
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}