.banner {
    padding: 20px 153px 0 153px;

    img {
        width: 100%;
    }
}

@media screen and (max-width: 1368px) {
    .banner {
        padding: 15px 53px 0 53px;
    }
}

@media screen and (max-width: 1280px) {
    .banner {
        padding: 15px 33px 0 33px;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        padding: 15px 13px 0 13px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 15px 13px 0 13px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 15px 10px 0 10px;
    }
}